.container {
  max-width: 320px;
  margin: auto;
  padding: 16px 16px;
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 24px;
  background: white;
  min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: auto;
  }
}

@media only screen and (min-width: 1128px) {
  .container {
    max-width: 1128px;
    margin: auto;
  }
}

.background {
  background-image: url('../../images/background_article.jpg');
}

.post-title {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .post-title {
    font-size: 24px;
  }
}

.articleGrid {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 700px;
  gap: 20px;
}

.articleGrid p {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.articleDiv {
  overflow-y: scroll;
  height: 600px;
}
